.popup {
  position: fixed;
  top: 10;
  left: 40%;
  // transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  width: 20%;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1rem 6rem rgba(black, 0.7);

  font-size: 1.6rem;
  text-align: center;
}

.animate-notice {
  animation: move-down 0.5s;
}

@keyframes move-down {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}
